@model IEnumerable<OnlineShopProject.Models.AlbumModel>

<section>
    <div class="container">
        <div class="row">
            <h2 class="title text-center admin-title">Edit Albums Items</h2>
            @using (Html.BeginForm("AdminIndex", "Albums", FormMethod.Get))
            {
                <div class="search_box">
                    <input type="text" placeholder="Search" name="SearchPattern" value="@ViewBag.SearchPattern" autofocus>
                </div>
                <input type="submit" value="Submit" class="hidden" />
            }
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayName("Genre")
                    </th>
                    <th>
                        @Html.DisplayName("Artist")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayName("Release Date")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Artist.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</section>