@using System.Collections.Specialized
<div class="left-sidebar">
    <h2>Category</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#genre">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Genre
                    </a>
                </h4>
            </div>
            <div id="genre" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        @{Html.RenderAction("Index", "Genres");}
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#artist">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Artist
                    </a>
                </h4>
            </div>
            <div id="artist" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        @{Html.RenderAction("Index", "Artists");}
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#decades">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Decades 
                    </a>
                </h4>
            </div>
            <div id="decades" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        @for (int i = 2010; i > 1960; i -= 10)
                        {
                            @Helpers.AddParamToUrl("decade", @i.ToString(), @i.ToString(), new UrlHelper(Request.RequestContext))
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#price">
                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                        Price
                    </a>
                </h4>
            </div>
            <div id="price" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        @for (int i = 0; i <= 15; i += 5)
                        {
                            @Helpers.AddParamToUrl("price",
                            i.ToString(),
                                 Helpers.GetCurrencyAndPrice(ViewBag.user, i) + " - " + Helpers.GetCurrencyAndPrice(ViewBag.user, i + 5),
                            new UrlHelper(Request.RequestContext))
                        }
                        @Helpers.AddParamToUrl("price", "20", Helpers.GetCurrencyAndPrice(ViewBag.user, 20) + "+", new UrlHelper(Request.RequestContext))
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/category-products-->


    <div class="shipping text-center">
        <!--shipping-->
        <img src="~/Content/images/home/shipping.jpg" alt="">
    </div><!--/shipping-->

</div>


