@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li><a href="@Url.Action("Manage", "Account")"><i class="fa fa-user"></i> @User.Identity.GetUserName()</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Logout</a></li>
    }
}
else
{
    <li><a href="@Url.Action("Register", "Account")" id="registerLink"><i class="fa fa-plus"></i> Register</a></li>
    <li><a href="@Url.Action("Login", "Account")" id="loginLink"><i class="fa fa-sign-in"></i> Login</a></li>
}
